<div class="main  text-white py-2">


    <div class="row ">
        <div class="col-7">
            <div class="footer-section m-5 ">
                <h1 class="">Booking.com</h1>
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo autem accusantium ab voluptatibus, a
                    molestiae? Ut adipisci deserunt delectus quod, pariatur voluptatum tempora consequuntur, odit,
                    dignissimos neque vero debitis! Fugit?</h5>

            </div>
        </div>

       
            <div class=" col-1 mt-4">
                <h4 class="">Links</h4>
                <div class="fs-5 ">
                    <h6>Home</h6>
                    <h6>Rooms</h6>
                    <h6>Facilities</h6>
                    <h6>Contact Us</h6>
                    <h6>About</h6>


                </div>

            </div>

     


        <div class="col-4">
            <div class="text-center  m-5 p-5 ">
                <h4 class="">CONTACT US</h4>
                <div class="fs-5 ">
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-x-twitter icon"></i>
                    <i class="fa-brands fa-whatsapp icon"></i>
                    <i class="fa-brands fa-instagram icon"></i>
                </div>

            </div>

        </div>



    </div>
    <p class="text-center">All rights are reserved @ Step Ease 2024
    </p>
</div>