<app-header></app-header>


<main>
    <section>
        <main>
            <section>
                <div class="container mt-5">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-5">
                        <div class="col mt-5 d-flex justify-content-center" *ngFor="let room of rooms">
                            <div class="card">
                                <div class="card-items ">
                                    <img [src]="room.image" class="card-img-top " alt="..." style="width: 25rem; height: 12rem;">
                                    <div class="card-body-top">
                                        <div class="info">
                                            <h3 class="card-text">{{room.roomname}}  </h3>
                                           <p class="card-text">{{room.roomtype}}</p>


                                        </div>
                                        <button  routerLink="/roomdetails/{{room._id}}">BOOK NOW</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
        </main>
    </section>
</main>
<app-footer></app-footer>

