<app-header></app-header>
<div class="container w-100 mt-5">
    <div class="profile-box">
        <h1 class="text-center ">Profile</h1>
        <div class="profile-details border border-dark p-3 mt-5 text-center">
            <img src="https://i.postimg.cc/fbZTHnr4/profile.png" alt="">
            <div class="profile-item ">
              
                <div class="profile-value">
                   <h3> {{ users.username }}</h3>
                </div>
            </div>
            <div class="profile-item">
               
                <div class="profile-value">
                  <h3>  {{ users.email }}</h3>
                </div>
            </div>
            <div class="profile-item">
             
                <div class="profile-value">
                    <h3>{{ users.phone }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>