<div class="row ">
  <div class="col-11"> 
  </div>
  <div class="col-1 mt-3"> <a class="" routerLink="/admin">Logout</a></div> 
 </div>
<div class="container w-70 my-4 ">

    <div class="row m-5 pb-3 text-center border rounded border-dark  ">
        <div class="col-lg-1 mt-5">
           
        </div> 
        <div class="col-lg-12 " >

            <h1 class=" mt-1">Add New Room Details</h1>
            <form  class="row g-3 mt-3"  (ngSubmit)="addRoom()"  [formGroup]="roomModel">
                <div class="col-md-6">
                  <label for="hotelname" class="form-label">Hotel Name</label>
                  <select formControlName="hotelname" class="form-select" id="hotelname">
                    <option *ngFor="let hotel of hotels" [value]="hotel.name">{{ hotel.name }}</option>
                    </select>
                </div>

                <div class="col-md-6">
                  <label for="inputrname" class="form-label">Room Name</label>
                  <input formControlName="roomname" type="text" class="form-control" id="inputrname">
                </div>

                <div class="col-md-6">
                  <label for="inputroom" class="form-label">Room Type</label>
                  <select formControlName="roomtype" class="form-select" id="inputroom">
                    <option value="">Select Room</option>
                    <option value="singleroom">Single Room</option>
                    <option value="doubleroom">Double Room</option>
                    <option value="deluxeroom">Deluxe Room</option>
                   
                </select>
            </div>
               
                
             
                
                <div class="col-md-6">
                  <label for="inputbed" class="form-label">No.of Bed</label>
                  <input formControlName="bed" type="text" class="form-control" id="inputbed">
                </div>

                
                <div class="col-md-6">
                  <label for="inputPrice" class="form-label">Price</label>
                  <input formControlName="price" type="text" class="form-control" id="price" >
                </div>
              
               
                <div class="col-md-6">
                    <label for="image" class="form-label">Image</label>
                    <input formControlName="image" type="file" (change)="getFile($event)" class="form-control" id="inputGroupFile02">

                
                </div>
               
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
        </div>

    </div>
</div>
